*{
    box-sizing: border-box;
    margin: 0;
}
body
    {
        background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
        color: white;
    }
    .container{
        width: 1051px;
        margin: auto;
        margin-top: 31px;
    }
.logo{
    width: 87px;
    margin-bottom: -9px;
}
.logo-text{
    font-size: 27px;
    display: inline-block;
}
#top{
    margin-bottom:9px;
}
#hr-unread{
    margin-top: 7px;
    margin-bottom: 7px;

}
.classh2{
    margin-top: 7px;
}
.unread30{
    background-color: orange;
    color: white;
    border-radius: 50px;
    padding: 1.5px;
}

.row-left{
    display: inline-block;
    width: 30%; 
    margin-left: 5px;
    
}

.row-right{
    display: inline-block;
    width: 65%;
    margin-left: 37px;
}

.row{
    color: black;
   
}
.read{
    background-color: lightgray;

}
.unread{
    background-color: white;
    
   
}
.row.unread #star{
color: orange;
}
.subject{
    color: black;
}

footer{
    text-align: center;
}
.footergmail{
   font-weight: bold;
    font-size: 25px;
}
#power{
    font-style: italic;
}